:root {
   --lightGrey: #c4c4c4;
   --grey: #737373;
   --darkGrey: #222222;
   --arkhamHorror: #fff;
   --dunwichHorror: #ffc800;
   --darkblue: #0064aa;
   --darkred: #af1e00;
   --blue: #00a3ff;
   --red: #ff0000;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #222222;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   color: #fff;
}

div#disclaimer {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 5;
}

div#disclaimer div.backdrop {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.85);
}

div#disclaimer div.prompt {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--darkGrey);
   padding: 25px;
   border: 1px solid var(--lightGrey);
   border-radius: 15px;
   display: flex;
   gap: 20px;
   align-items: center;
}

div#disclaimer div.prompt > div.icon {
   width: 70px;
}

div#disclaimer div.prompt > div.text > p {
   text-align: center;
   margin: 10px 0;
}

div#disclaimer div.prompt > div.text > p:first-child {
   font-weight: bold;
}

div#preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 999;
   background-color: var(--darkGrey);
   display: flex;
   align-items: center;
   justify-content: center;
}

div#preloader div.ti {
   width: 80px;
   height: 80px;
   font-size: 0;
   animation: rotate 0.8s linear infinite both;
}

.arkhamHorror {
   color: var(--arkhamHorror);
}

.dunwichHorror {
   color: var(--dunwichHorror);
}

button {
   width: 50px;
   height: 50px;
   position: fixed;
   z-index: 1;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   overflow: hidden;
   transition: 0.5s;
   background-color: #c4c4c4;
   font-size: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
}

button > div.ti {
   width: 80%;
   height: 80%;
   font-size: 0;
   transition: 0.5s;
}

button#navClick {
   z-index: 4;
   top: 10px;
   left: 10px;
}

button#navClick > div.burger {
   border: 2px solid #000;
   width: 34px;
   transition: 0.5s;
   transform-origin: center center;
}

button#navClick > div.burger:nth-of-type(1) {
   position: absolute;
   top: 8px;
   left: 8px;
}

button#navClick > div.burger:nth-of-type(2) {
   position: absolute;
   top: 23px;
   left: 8px;
}

button#navClick > div.burger:nth-of-type(3) {
   position: absolute;
   bottom: 8px;
   left: 8px;
}

button#navClick.clicked {
   background-color: #808080;
}

button#navClick.clicked > div.burger:nth-of-type(1) {
   transform: translateY(15px) rotate(45deg);
}

button#navClick.clicked > div.burger:nth-of-type(2) {
   transform: translateX(-42px);
}

button#navClick.clicked > div.burger:nth-of-type(3) {
   transform: translateY(-15px) rotate(-45deg);
}

button#navClick.clicked ~ nav {
   transform: translateX(0%);
}

button#navClick.clicked ~ button:is(#loreClick, #previousPhase, #nextPhase, #resetPhase) {
   transform: translateX(150%);
}

button#randomCharacter {
   top: 10px;
   right: 10px;
   width: 50px;
   height: 50px;
   background-color: var(--dunwichHorror);
}

button#randomCharacter > div.ti {
   animation: slideDown 1.5s ease-in-out infinite;
}

button#loreClick {
   top: 10px;
   right: 10px;
   z-index: 3;
}

button#loreClick div.ti {
   transition: transform 0.5s;
}

button#loreClick.clicked {
   background-color: #808080;
}

button#loreClick.clicked > div.ti {
   transform: rotate(180deg);
}

button#loreClick.clicked ~ aside {
   transform: translateX(0%);
}

button:is(#previousPhase, #nextPhase, #resetPhase) {
   background-color: var(--darkblue);
   color: var(--arkhamHorror);
   font-size: 32px;
   display: none;
}

button#previousPhase {
   top: 70px;
   right: 10px;
}

button#nextPhase {
   top: 130px;
   right: 10px;
}

button#resetPhase {
   top: 190px;
   right: 10px;
}

button:is(#previousPhase.shown, #nextPhase.shown, #resetPhase.shown) {
   display: flex;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   padding-top: 100px;
   background-color: #c4c4c4;
   width: 100vw;
   height: 100vh;
   transform: translateX(-100%);
   transition: 0.5s;
   z-index: 3;
}

nav ul {
   list-style-type: none;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 0;
}

nav ul li {
   width: 100%;
   flex-basis: 75px;
}

nav ul li a {
   font-size: 24px;
   text-decoration: none;
   color: #000;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 25px;
}

nav > ul > li > a:hover {
   color: var(--darkblue);
}

nav ul li a.thisSite {
   font-weight: 700;
}

nav div#admin {
   position: absolute;
   bottom: 25px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 15px;
}

nav div#admin::before {
   content: '';
   position: absolute;
   top: -5px;
   left: -20px;
   background-color: var(--darkGrey);
   width: calc(100% + 40px);
   height: calc(100% + 10px);
   border-radius: 5px;
   z-index: -1;
}

nav > span#version {
   position: absolute;
   bottom: 10px;
   right: 10px;
   color: var(--darkGrey);
}

aside {
   position: fixed;
   top: 0;
   left: 0;
   padding: 100px 15px;
   background-color: #c4c4c4;
   width: 100vw;
   height: 100vh;
   transform: translateX(100%);
   transition: 0.5s;
   z-index: 2;
   overflow: scroll;
}

aside h1 {
   color: #000;
   text-align: center;
}

aside p {
   font-weight: 300;
   color: black;
   text-align: justify;
   margin: 10px 0;
}

aside p::first-letter {
   font-weight: 400;
}

section#phase {
   display: block;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 71px;
   background-color: var(--darkGrey);
   border-top: 1px solid white;
   z-index: 1;
   padding: 10px;
}

section#phase div.slidebox {
   position: absolute;
   top: 0;
   left: 100%;
   width: 100%;
   height: 100%;
   background-color: var(--darkGrey);
}

section#phase div.current {
   width: 200px;
   height: 100%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 5px;
}

section#phase div.current > p {
   color: var(--dunwichHorror);
   width: 100%;
   font-size: 16px;
   margin-bottom: 0;
}

section#phase div.current > div.bigbox {
   flex-shrink: 0;
   width: 50px;
   height: 50px;
   margin-right: 10px;
   border-radius: 25%;
   font-size: 40px;
   color: black;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

section#phase div.next {
   width: calc(100% - 200px);
   height: 100%;
   float: left;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
}

section#phase div.next > h2 {
   font-size: 14px;
   width: 100%;
   color: var(--lightGrey);
   margin-bottom: 5px;
}

section#phase div.next > div.box {
   width: 25px;
   height: 25px;
   margin-right: 10px;
   border-radius: 25%;
   color: black;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
}

section#phase div.next > p {
   width: calc(100% - 35px);
   font-size: 12px;
   margin-bottom: 0;
}

main {
   padding: 70px 20px 0 20px;
   width: 100vw;
   min-height: calc(100vh - 50px);
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
}

main div {
   width: 100%;
   margin: 15px 0;
}

main div.characters {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-around;
}

main div.characters > h1 {
   flex-basis: 100%;
   text-align: center;
}

main div.characters > div.character {
   width: 35vw;
   height: 35vw;
   box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
   background-size: cover;
   border: 1px solid var(--arkhamHorror);
   margin: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 22px;
   /* font-weight: bold; */
   text-align: center;
   color: var(--darkGrey);
   cursor: pointer;
   user-select: none;
}

main div.characters.dunwichHorror > div.character {
   border-color: var(--dunwichHorror);
}

main a {
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
   text-align: center;
}

main a.download {
   display: flex;
   justify-content: center;
   height: 1.25em;
   font-size: 1.25em;
}

main a.download > svg {
   margin-right: 5px;
}

main hr {
   width: 100%;
   color: #fff;
   margin: 10px 0 25px 0;
}

main#landing {
   justify-content: space-evenly;
}

main img {
   width: 100%;
   border-radius: 10px;
   border: 1px solid #fff;
   margin: 15px 0;
}

main p > img {
   margin-left: 15px;
   width: 30%;
   border: none;
   float: right;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
   text-align: center;
   text-transform: uppercase;
   margin: 10px 0;
}

main h1::first-letter {
   font-size: 2.05em;
}

main h2::first-letter {
   font-size: 1.55em;
}

main p {
   text-align: justify;
   margin: 15px 0;
}

main p.teller {
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
}

main p.disclaimer {
   padding: 10px;
   font-size: 14px;
   color: #000;
   background-color: #fffbd6;
   border-radius: 10px;
}

main > ul {
   margin: 15px 0;
   line-height: 25px;
}

main ul > li {
   margin-left: 15px;
}

main ul > li > ul > li {
   margin-left: 30px;
}

main#landing p {
   text-align: center;
}

main#selectGameRole {
   flex-direction: row;
   justify-content: center;
   align-items: baseline;
}

main#player {
   display: block;
}

main#player p {
   margin: 10px 0;
   text-align: justify;
   font-weight: 300;
}

main#player img {
   width: 75%;
   display: block;
   margin: 0 auto;
}

main#player table {
   border-collapse: separate;
   border-spacing: 10px;
   margin: 0 auto;
   font-size: 14px;
}

main#player table th {
   text-align: right;
   vertical-align: top;
   width: 45%;
}

main#player table td {
   font-weight: 300;
   text-align: left;
}

main#player table ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

main#player table ul li {
   margin: 0;
}

main#player table span.postscriptum {
   color: var(--red);
}

main#player p.postscriptum {
   color: var(--red);
}

main#player p:last-child {
   text-align: center;
}

main#player p:last-child > span {
   color: var(--dunwichHorror);
}

main#player section#skills p {
   text-align: justify;
   margin: 15px 0;
}

footer {
   width: 100vw;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 300;
   font-size: 10px;
   background-color: #222222;
}

footer#player {
   margin-bottom: 70px;
}

.lineAcross {
   border-bottom: 1px solid #fff;
   display: inline-block;
   width: 100%;
}

div.selectGameRole {
   border: 1px solid #fff;
   width: 50vw;
   height: 50vw;
   background-color: rgba(255, 255, 255, 0.5);
}

div.selectGameRole a {
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
   color: #000;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

div.selectGameRole:nth-of-type(1) {
   background-color: var(--dunwichHorror);
}

div.selectGameRole i {
   font-size: 50px;
}

div.stats {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}

div.stats > div {
   width: 50px;
   height: 50px;
   margin: 0;
   background-color: #c4c4c4;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   font-weight: 700;
}

div.stats:nth-of-type(1) > div {
   color: var(--darkblue);
}

div.stats:nth-of-type(2) > div {
   color: var(--darkred);
}

div.stats > i {
   font-size: 50px;
}

div.slider {
   width: 100%;
   margin: 10px 0;
}

div.slider > div.values {
   display: flex;
   justify-content: space-between;
}

div.slider > div.values:nth-of-type(1) {
   color: var(--blue);
}

div.slider > div.values:nth-of-type(2) {
   color: var(--red);
}

main#player > div.slider > p {
   margin: 5px 0;
   width: 100%;
   text-align: center;
}

input[type='range'] {
   -webkit-appearance: none;
   width: 100%;
   height: 25px;
   background-color: var(--lightGrey);
}

input[type='range']:disabled {
   background-color: rgba(255, 0, 0, 0.25);
}

input[type='range']:focus {
   outline: none;
}

input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   box-sizing: content-box;
   width: 9px;
   height: 25px;
   background-color: #fff;
   border: 2px inset var(--lightGrey);
   box-shadow: 0px 0px 3px #000000, 0px 0px 3px #0d0d0d;
   border-radius: 0;
   cursor: pointer;
}

input[type='range']:disabled::-webkit-slider-thumb {
   background-color: var(--darkGrey);
   border: 2px outset var(--lightGrey);
}

input[type='range']::-moz-range-thumb {
   appearance: none;
   box-sizing: content-box;
   width: 9px;
   height: 25px;
   background-color: #fff;
   border: 2px inset var(--lightGrey);
   box-shadow: 0px 0px 3px #000000, 0px 0px 3px #0d0d0d;
   border-radius: 0;
   cursor: pointer;
}

input[type='range']:disabled::-moz-range-thumb {
   background-color: var(--darkGrey);
   border: 2px outset var(--lightGrey);
}

@keyframes wiggle {
   0% {
      transform: rotate(15deg);
   }

   50% {
      transform: rotate(-15deg);
   }

   100% {
      transform: rotate(15deg);
   }
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

@keyframes slideDown {
   0% {
      transform: translateY(0);
   }
   25% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(200%);
   }
   50.001% {
      transform: translateY(-200%);
   }
   75% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(0);
   }
}

@media (orientation: landscape) {
   main {
      min-height: calc(100vh - 50px);
   }

   div.character {
      width: 20vw;
      height: 20vw;
   }

   main#selectGameRole {
      justify-content: space-around;
   }

   div.selectGameRole {
      width: 50vh;
      height: 50vh;
   }

   div#workInProgress {
      font-size: 5vh;
   }

   div#workInProgress > i {
      font-size: 30vh;
   }
}

@media (max-width: 576px) and (orientation: portrait) {
   div#disclaimer {
      display: none;
   }
}
